email=vijay216.marolix@gmail.com
#always-auth=true
#_auth=YWRtaW46cGFzc3cwcmQ=
//registry.npmjs.org/:_auth=YWRtaW46cGFzc3cwcmQ=
allowRepublish=true
//34.211.48.114:8081/repository/nodejsrepo/:_authToken=YWRtaW46cGFzc3cwcmQ=
registry=http://34.211.48.114:8081/repository/nodejsrepo/
